 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles

.container{
  max-width:1438px;
  min-width:1438px;
}
.top{
  padding-top: 10px;
  padding-bottom: 10px;
  height:50px;
  border:solid;
  border-width:1px;
  border-color:rgb(229, 229, 229);
  background-color:rgb(245, 245, 245);
}

.logo {
  margin-left:230px;
  margin-right:10px;
  float: left;
  width: 28px;
  height: 28px;
  font-size: 28px;
}

.searchBar{
  float:left;
  width:360px;
  height:28px;
  font-size:12px;
  border-radius:4px;
  margin-right:10px;
  padding-left:9px;
  border-color:rgb(204, 204, 204);
  border-width:1px;
}

.header-link{
  float:left;
  padding: 4px 8px;
  font-size: 13px;
  font-weight: bold;
  line-height: 20px;
  color: rgb(51, 51, 51);
}

.helpLink{
  margin-right:157px;

}

.topPic{
  margin-top:4px;
  margin-right:4px;
  float:left;
  height:20px;
  width:20px;
  border-radius:3px;
}

.topUserName{
  color: rgb(51, 51, 51);
  float:left;
  margin-top:5px;
  margin-right:20px;
  font-size: 13px;
  font-weight: bold;

}

.plus {
  margin-top:2.5px;
  margin-right:2.5px;
  color: rgb(51, 51, 51);
  font-size:18px;
  float:left;

}

.downTri {
  margin-top:7.25px;
  font-size:10.5px;
  float:left;
  margin-right:17px;
}

.plusTri{

}


.inbox {
  margin-top:2.5px;
  margin-right:20px;
  color: rgb(51, 51, 51);
  font-size:20px;
  float:left;
}

.gear{
  color: rgb(51, 51, 51);
  margin-top:5px;
  margin-right:19px;
  float:left;
}

.signOut {
  color: rgb(51, 51, 51);
  margin-top:5px;
  float:left;
}



.sideBar{
  float:left;
  margin-top:19px;
  margin-left:232px;
  margin-right:20px;
  height:100%;
  width:230px;
  border:solid;
  border-width:1px;
  }

.profilePic{
  height:230px;
  width:230px;
  border-radius:8px;

}

.profileUser{
    border:solid;
}
.myName{
  font-size:25px;
  letter-spacing:.5px;
  margin-top:2px;
  margin-bottom:0px;
}

.userName{
  float:left;
  color:rgb(102, 102, 116);
  font-size:20px;
  font-weight:lighter;
  padding-bottom:17px;
}

.myInfo{
  color:black;
  height:100px;
  width:230px;
  border:solid;
  border-width:1px;
  border-color:rgb(238, 238, 238);
}

.profileList{
  padding-left:0px;
  list-style:none;
}

.companyIcon{
  color:rgb(204, 204, 204);
}

.company{
  overflow:auto;
  text-overflow: ellipsis;
  font-size:14px;
}

.emailIcon{
  color:rgb(204, 204, 204);

}

.email{
  color:rgb(65, 134, 205);
  text-decoration:none;

}

.dateJoinedIcon{
  color:rgb(204, 204, 204);

}

.dateJoined{

}
.social{
  overflow:hidden;
  width:230px;
  border-top:solid;
  border-bottom:solid;
  border-width:1px;
}

.fNumber{
  float:left;
  font-size: 28px;
  font-weight: bold;
  margin-top:14px;
  margin-left:3px;
  color:rgb(65, 131, 196);
}

.fingNumber{
  float:left;
  font-size: 28px;
  font-weight: bold;
  margin-top:14px;
  color:rgb(65, 131, 196);
}

.following2{
  float:left;
  font-size: 28px;
  font-weight: bold;
  margin-top:14px;
  color:rgb(65, 131, 196);
}

.follower{
  clear:both;
  font-size:11px;

}

.following{
  font-size:11px;

}

.following{
  font-size:11px;

}
.orgsBox{
  border:solid;
  border-width:1px;
  height:120px;
  width:230px;
}

.middleTop{
  float:left;
  min-width:731px;
  height:40px;
  margin-top:29px;
}


.contTab{
  padding-left:14px;
  padding-bottom:9px;
  padding-top:9px;
  padding-right:12px;
  border-bottom:solid;
  border-width:1px;
  border-color:rgb(221, 221, 221);
  display:inline;
  color:rgb(102, 102, 102);

}

.contIcon{
  font-size:16px;
  color:rgb(102, 102, 102);
}

.contText{
  font-size:14px;

}

.repoTab{
  padding-bottom:10px;
  padding-top:9px;
  padding-left:12px;
  padding-right:13px;
  border-top:solid;
  border-left:solid;
  border-right:solid;
  border-width:1px;
  border-radius:3px;
  border-color:rgb(221, 221, 221);
  display:inline;

}

.repoIcon{
  font-size:17px;

}

.repoText{
  font-size:14px;


}

.publicTab{
  width:300px;
  margin-top:20px;
  padding-bottom:9px;
  padding-top:9px;
  padding-left:17px;
  border-bottom:solid;
  border-width:1px;
  border-color:rgb(221, 221, 221);
  display:inline;
  color:rgb(102, 102, 102);

}

.publicIcon{
  font-size:17px;
  color:rgb(102, 102, 102);

}

.publicText{
  margin-right:250px;
  font-size:14px;
  color:rgb(102, 102, 102);

}

.edit{
  padding-top:4px;
  padding-left:9px;
  padding-right:10px;
  padding-bottom:4px;
  background-color:rgb(246, 246, 246);
  border:solid;
  border-width:1px;
  border-radius:3px;
  border-color:rgb(213, 213, 213);
  display:inline;
}

.editIcon{
  color:rgb(51, 51, 51);

}

.editText{
  font-size: 13px;
  font-weight: bold;
  color: #333;
  text-shadow: 0 1px 0 rgba(255,255,255,0.9);
  color:rgb(51, 51, 82);
}

.repoSearch{
}
