<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>GitHub</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">

    <div class="top">
      <script type="text/template" id="topUserApi">
      <span class="mega-octicon octicon-mark-github logo"></span>
      <input class="searchBar" type="text" placeholder="Search GitHub"></input>
      <a class="header-link">Explore</a>
      <a class="header-link">Gist</a>
      <a class="header-link">Blog</a>
      <a class="header-link helpLink">Help</a>

      <img class="topPic" src="<%= avatar_url  %>"/>

      <span class=topUserName><%= login %></span>
      <div class="plusTri">
        <span class="mega-octicon octicon-plus plus"></span>
        <span class="octicon octicon-triangle-down downTri"></span>
      </div>
      <span class="mega-octicon octicon-inbox inbox"></span>
      <span class="octicon octicon-gear gear"></span>

      <span class="octicon octicon-sign-out signOut"></span>


      </script>
    </div>

  <div class="sideBar">
    <script type="text/template" id="sideBarUserApi">
    <!--The live information in this section is coming from the User API-->
      <div class="profileUser">
        <img class="profilePic" src="<%= avatar_url  %>"/>
        <h2 class=myName><%= name %></h2>
        <span class=userName><%= login %></span>
      <div>
<!--..............................................-->

    <div class=myInfo>
      <ul class="profileList">
        <li><span class="octicon octicon-organization companyIcon"></span>
        <span class="company"><%= company %></span></li>
        <li><span class="octicon octicon-mail emailIcon"></span>
        <a class="email" href="andrewelmasry@gmail.com"><%=email %><a></li>
        <li><span class="octicon octicon-clock dateJoinedIcon"></span>
        <span class="dateJoined"><%=created_at%></span></li>
      </ul>
    </div>

<!--..............................................-->

    <div class="social">
      <span class="fNumber"><%=followers %></span>
      <span class="fingNumber"><%=following %></span>
      <span class="following2"><%=following %></span>
      <br></br>
      <span class="follower">Follower</span>
      <span class="following">Following</span>
      <span class="following">Starred</span>
    </div>

    <div class="orgsBox">
    <span class="orgsTitle">Organizations</span>
    <script type="text/template" id="requiresOrgsApi">
    <img class=orgsPic src="<% avatar_url %>"/>
      </script>
    </div><!--end of the orgsBox-->

    <!--This is the end of the section that requires userApi-->
<!--...........................................-->
  </script>
</div><!--end of sidebar-->
  <div class="middleTop">
        <div class="contTab">
          <span class="mega-octicon octicon-diff-added contIcon"></span>
          <span class="contText">Contributions</span>
        </div>

        <div class="repoTab">
          <span class="mega-octicon octicon-repo repoIcon"></span>
          <span class="repoText">Repositories</span>
        </div>

        <div class="publicTab">
          <span class="mega-octicon octicon-rss publicIcon"></span>
          <span class="publicText">Public activity</span>
          <div class="edit">
            <span class="octicon octicon-pencil editIcon"></span>
            <span class="editText">Edit Profile</span>
          </div>
        </div>
  </div>








</div><!--end of container-->






    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <!-- endbower -->
    <!-- endbuild -->

    <script src="scripts/token.js"></script>

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
