<!doctype html>
<html class="no-js">
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimal-ui">
    <title>GitHub</title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="../bower_components/octicons/octicons/octicons.css">
    <link rel="stylesheet" href="../bower_components/normalize-css/normalize.css" />
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css styles/main.css -->
    <link rel="stylesheet" href="styles/main.css">
    <!-- endbuild -->

    <!-- build:js scripts/vendor/modernizr.js -->
    <script src="../bower_components/modernizr/modernizr.js"></script>
    <!-- endbuild -->
  </head>
  <body>

    <div class="container">

    <div class="top">
      <script type="text/template" id="topUserApi">
      <span class="mega-octicon octicon-mark-github logo"></span>
      <input class="searchBar" type="text" placeholder="Search GitHub"></input>
      <a class="header-link">Explore</a>
      <a class="header-link">Gist</a>
      <a class="header-link">Blog</a>
      <a class="header-link helpLink">Help</a>

      <img class="topPic" src="<%= avatar_url  %>"/>

      <span class=topUserName><%= login %></span>
      <div class="plusTri">
        <span class="mega-octicon octicon-plus plus"></span>
        <span class="octicon octicon-triangle-down downTri"></span>
      </div>
      <span class="mega-octicon octicon-inbox inbox"></span>
      <span class="octicon octicon-gear gear"></span>

      <span class="octicon octicon-sign-out signOut"></span>


      </script>
    </div><!--.......end of top...........-->

  <div class="sideBar">
    <!--The live information in this section is coming from the User API-->

      <div class="profileUser">
        <script type="text/template" id="userProfileApi">
        <img class="profilePic" src="<%= avatar_url  %>"/>
        <h2 class=myName><%= name %></h2>
        <span class=userName><%= login %></span>
        </script>

      </div><!--.......end of profileUser...........-->
<!--..............................................-->

    <div class=myInfo>
      <script type="text/template" id="userInfoApi">
      <ul class="profileList">

        <li class="companyRow"><span class="octicon octicon-organization companyIcon"></span>
        <span class="company"><%= company %></span>
        </li>

        <li class="locRow"><span class="octicon octicon-location locIcon"></span>
        <span class="loc"><%= location %></span>
        </li>

        <li class="emailRow"><span class="octicon octicon-mail emailIcon"></span>
        <a class="email" href="andrewelmasry@gmail.com"><%=email %><a>
        </li>

        <li class="blogRow"><span class="octicon octicon-link blogIcon"></span>
        <span class="blog"><%= blog %></span>
        </li>

        <li class="dateRow"><span class="octicon octicon-clock dateJoinedIcon"></span>
        <span class="dateJoined">Joined on <%= $.format.date(created_at, "MMM dd, yyyy")%></span>
        </li>

      </ul>
      </script>

    </div><!--.......end of myInfo...........-->

<!--..............................................-->

    <div class="social">
      <div class="counts">
        <span class="count1">
        <script type="text/template" id="userSocialApi">
        <%=followers %>
        </script>
        </span>

        <span class="count2">
        <script type="text/template" id="starredApi">
        <%=stargazers_count %>
        </script>
        </span>

        <span class="count3">
        <script type="text/template" id="userSocialApi2">
        <%=following %>
        </script>
        </span>

      </div>

      <div class="labels">
        <span class="label1">Follower</span>
        <span class="label2">Starred</span>
        <span class="label3">Following</span>
      </div>
    </div><!--.......end of social..........-->
<!--</script>-->

    <div class="orgsBox">
      <script type="text/template" id="orgsApi">
      <span class="orgsTitle">Organizations</span>
      <img class="orgsPic" src="<%= avatar_url  %>"/>
      </script>
    </div>



</div><!--end of sidebar-->
<!--...........................................-->

  <div class="middleTop">
      <!--..................................-->
        <div class="contTab">
          <span class="mega-octicon octicon-diff-added contIcon"></span>
          <span class="contText">Contributions</span>
        </div>

      <!--................................-->
        <div class="repoTab">
          <span class="mega-octicon octicon-repo repoIcon"></span>
          <span class="repoText">Repositories</span>
        </div>

      <!--....................................-->
        <div class="publicTab">
          <span class="mega-octicon octicon-rss publicIcon"></span>
          <span class="publicText">Public activity</span>
          <div class="edit">
            <span class="octicon octicon-pencil editIcon"></span>
            <a class="editText" href="google.com">Edit Profile</a>
          </div>
        </div>
  </div><!--.......end of middleTop.................-->

  <div class="middleRow">
        <input class="repoSearch" type="text" placeholder="Find a repository..."></input>
        <div class="sbutton">
          <a class="sText">Search</a>
        </div>
        <a class="all allLinks">All</a>
        <a class="public allLinks">Public</a>
        <a class="private allLinks">Private</a>
        <a class="sources allLinks">Sources</a>
        <a class="forks allLinks">Forks</a>
        <a class="mirror allLinks">Mirrors</a>
      <div class="new">
          <span class="octicon octicon-repo newIcon"></span>
          <span class="newText">New</span>
        </div>

      </div>

      <div class="repoSec">
        <script type="text/template" id="repoApi">
        <div class="repoBorder">
          <div class=repoTarg>
            <li class="repoName"><%=name %></li>
            <span class="forksCount"><%=forks_count %></span>
            <span class="octicon octicon-git-branch forkIcon"></span>
            <span class="stargazersCount"><%=stargazers_count %></span>
            <span class="octicon octicon-star"></span>
            <span class="language"><%= language%></span>
          </div>

          <div class=updateTarg>
              <li class="updates">Updated <%= $.format.prettyDate(updated_at) %></li>
          </div>
        </div>
       </script>
      </div>




</div><!--end of container-->






    <!-- build:js scripts/vendor.js -->
    <!-- bower:js -->
    <script src="../bower_components/jquery/dist/jquery.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/moment/moment.js"></script>
    <!-- endbower -->
    <!-- endbuild -->



        <!-- build:js scripts/main.js -->
        <script src="scripts/tokens.js"></script>
        <script src="scripts/jquery-dateFormat.js"></script>
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
